@font-face {
    font-family: 'flexi';
    src: url(//cf.bstatic.com/static/fonts/flexi/flexi/26db1a3ac3d664298e32390f54dd3f168d7fb3cd.eot);
    src: url(//cf.bstatic.com/static/fonts/flexi/flexi/26db1a3ac3d664298e32390f54dd3f168d7fb3cd.eot?#iefix) format('embedded-opentype'), url(//cf.bstatic.com/static/fonts/flexi/flexi/750fa5bec9bde5e6e09115b5970b8106f73a5646.woff) format('woff'), url(//cf.bstatic.com/static/fonts/flexi/flexi/d0befa3c781dd567618a4a52a825a0962bd65087.ttf) format('truetype');
    font-weight: normal;
    font-style: normal
}

[class^="bicon-"],
[class*=" bicon-"],
[class*="\A bicon-"] {
    font-family: 'flexi';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.bicon-occupancy:before {
    content: "\31"
}

.bicon-calendar:before {
    content: "\b0a4"
}

.bicon-checkin:before {
    content: "\b0a6"
}

.bicon-checkout:before {
    content: "\b0a5"
}

.bicon-group:before {
    content: "\b098"
}

.bicon-search:before {
    content: "\b012"
}

.bicon-dotcom:before {
    content: "\b018"
}

.bicon-booking:before {
    content: "\b017"
}

.bicon-circlepad:before {
    content: "\b10a"
}

.bicon-starpad:before {
    content: "\b10b"
}

.bicon-smartdeals:before {
    content: "\b022"
}

.bicon-smartdeals:before {
    content: "\b022"
}

.bicon-deal:before {
    content: "\b253"
}

.bicon-dottedseparator:before {
    content: "\b254"
}