.l--clearfix {
    *zoom: 1
}

.l--clearfix:before,
.l--clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.l--clearfix:after {
    clear: both
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.l--row {
    width: 100%;
    *zoom: 1
}

.l--row:before,
.l--row:after {
    display: table;
    content: "";
    line-height: 0
}

.l--row:after {
    clear: both
}

.l--row [class*="col"] {
    width: 100%;
    min-height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: .99009901%;
    *margin-left: .92821782%
}

.l--row [class*="col"]:first-child {
    margin-left: 0
}

.l--row .controls-row [class*="col"]+[class*="col"] {
    margin-left: .99009901%
}

.l--row .l--col12 {
    width: 100%;
    *width: 99.93811881%
}

.l--row .l--col11 {
    width: 91.58415842%;
    *width: 91.52227723%
}

.l--row .l--col10 {
    width: 83.16831683%;
    *width: 83.10643564%
}

.l--row .l--col9 {
    width: 74.75247525%;
    *width: 74.69059406%
}

.l--row .l--col8 {
    width: 66.33663366%;
    *width: 66.27475248%
}

.l--row .l--col7 {
    width: 57.92079208%;
    *width: 57.85891089%
}

.l--row .l--col6 {
    width: 49.5049505%;
    *width: 49.44306931%
}

.l--row .l--col5 {
    width: 41.08910891%;
    *width: 41.02722772%
}

.l--row .l--col4 {
    width: 32.67326733%;
    *width: 32.61138614%
}

.l--row .l--col3 {
    width: 24.25742574%;
    *width: 24.19554455%
}

.l--row .l--col2 {
    width: 15.84158416%;
    *width: 15.77970297%
}

.l--row .l--col1 {
    width: 7.42574257%;
    *width: 7.36386139%
}

.l--row .l--offset12 {
    margin-left: 101.98019802%;
    *margin-left: 101.85643564%
}

.l--row .l--offset12:first-child {
    margin-left: 100.99009901%;
    *margin-left: 100.86633663%
}

.l--row .l--offset11 {
    margin-left: 93.56435644%;
    *margin-left: 93.44059406%
}

.l--row .l--offset11:first-child {
    margin-left: 92.57425743%;
    *margin-left: 92.45049505%
}

.l--row .l--offset10 {
    margin-left: 85.14851485%;
    *margin-left: 85.02475248%
}

.l--row .l--offset10:first-child {
    margin-left: 84.15841584%;
    *margin-left: 84.03465347%
}

.l--row .l--offset9 {
    margin-left: 76.73267327%;
    *margin-left: 76.60891089%
}

.l--row .l--offset9:first-child {
    margin-left: 75.74257426%;
    *margin-left: 75.61881188%
}

.l--row .l--offset8 {
    margin-left: 68.31683168%;
    *margin-left: 68.19306931%
}

.l--row .l--offset8:first-child {
    margin-left: 67.32673267%;
    *margin-left: 67.2029703%
}

.l--row .l--offset7 {
    margin-left: 59.9009901%;
    *margin-left: 59.77722772%
}

.l--row .l--offset7:first-child {
    margin-left: 58.91089109%;
    *margin-left: 58.78712871%
}

.l--row .l--offset6 {
    margin-left: 51.48514851%;
    *margin-left: 51.36138614%
}

.l--row .l--offset6:first-child {
    margin-left: 50.4950495%;
    *margin-left: 50.37128713%
}

.l--row .l--offset5 {
    margin-left: 43.06930693%;
    *margin-left: 42.94554455%
}

.l--row .l--offset5:first-child {
    margin-left: 42.07920792%;
    *margin-left: 41.95544554%
}

.l--row .l--offset4 {
    margin-left: 34.65346535%;
    *margin-left: 34.52970297%
}

.l--row .l--offset4:first-child {
    margin-left: 33.66336634%;
    *margin-left: 33.53960396%
}

.l--row .l--offset3 {
    margin-left: 26.23762376%;
    *margin-left: 26.11386139%
}

.l--row .l--offset3:first-child {
    margin-left: 25.24752475%;
    *margin-left: 25.12376238%
}

.l--row .l--offset2 {
    margin-left: 17.82178218%;
    *margin-left: 17.6980198%
}

.l--row .l--offset2:first-child {
    margin-left: 16.83168317%;
    *margin-left: 16.70792079%
}

.l--row .l--offset1 {
    margin-left: 9.40594059%;
    *margin-left: 9.28217822%
}

.l--row .l--offset1:first-child {
    margin-left: 8.41584158%;
    *margin-left: 8.29207921%
}

[class*="l--col"].hide,
.l--row [class*="l--col"].hide {
    display: none
}

[class*="l--col"].l--pull-right,
.l--row [class*="l--col"].l--pull-right {
    float: right
}

.l--container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.l--space {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .4%
}

.l--space1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.l--flexy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.lang_is_rtl .l--row [class*="col"] {
    float: right;
    margin-left: 0;
    margin-right: .99009901%;
    *margin-left: 0;
    *margin-right: .92821782%
}

.lang_is_rtl .l--row [class*="col"]:first-child {
    margin-right: 0
}

.lang_is_rtl .l--row .controls-row [class*="col"]+[class*="col"] {
    margin-left: 0;
    margin-right: .99009901%
}

.lang_is_rtl .l--row .l--offset12 {
    margin-left: 0;
    margin-right: 101.98019802%;
    *margin-left: 0;
    *margin-right: 101.85643564%
}

.lang_is_rtl .l--row .l--offset12:first-child {
    margin-left: 0;
    margin-right: 100.99009901%;
    *margin-left: 0;
    *margin-right: 100.86633663%
}

.lang_is_rtl .l--row .l--offset11 {
    margin-left: 0;
    margin-right: 93.56435644%;
    *margin-left: 0;
    *margin-right: 93.44059406%
}

.lang_is_rtl .l--row .l--offset11:first-child {
    margin-left: 0;
    margin-right: 92.57425743%;
    *margin-left: 0;
    *margin-right: 92.45049505%
}

.lang_is_rtl .l--row .l--offset10 {
    margin-left: 0;
    margin-right: 85.14851485%;
    *margin-left: 0;
    *margin-right: 85.02475248%
}

.lang_is_rtl .l--row .l--offset10:first-child {
    margin-left: 0;
    margin-right: 84.15841584%;
    *margin-left: 0;
    *margin-right: 84.03465347%
}

.lang_is_rtl .l--row .l--offset9 {
    margin-left: 0;
    margin-right: 76.73267327%;
    *margin-left: 0;
    *margin-right: 76.60891089%
}

.lang_is_rtl .l--row .l--offset9:first-child {
    margin-left: 0;
    margin-right: 75.74257426%;
    *margin-left: 0;
    *margin-right: 75.61881188%
}

.lang_is_rtl .l--row .l--offset8 {
    margin-left: 0;
    margin-right: 68.31683168%;
    *margin-left: 0;
    *margin-right: 68.19306931%
}

.lang_is_rtl .l--row .l--offset8:first-child {
    margin-left: 0;
    margin-right: 67.32673267%;
    *margin-left: 0;
    *margin-right: 67.2029703%
}

.lang_is_rtl .l--row .l--offset7 {
    margin-left: 0;
    margin-right: 59.9009901%;
    *margin-left: 0;
    *margin-right: 59.77722772%
}

.lang_is_rtl .l--row .l--offset7:first-child {
    margin-left: 0;
    margin-right: 58.91089109%;
    *margin-left: 0;
    *margin-right: 58.78712871%
}

.lang_is_rtl .l--row .l--offset6 {
    margin-left: 0;
    margin-right: 51.48514851%;
    *margin-left: 0;
    *margin-right: 51.36138614%
}

.lang_is_rtl .l--row .l--offset6:first-child {
    margin-left: 0;
    margin-right: 50.4950495%;
    *margin-left: 0;
    *margin-right: 50.37128713%
}

.lang_is_rtl .l--row .l--offset5 {
    margin-left: 0;
    margin-right: 43.06930693%;
    *margin-left: 0;
    *margin-right: 42.94554455%
}

.lang_is_rtl .l--row .l--offset5:first-child {
    margin-left: 0;
    margin-right: 42.07920792%;
    *margin-left: 0;
    *margin-right: 41.95544554%
}

.lang_is_rtl .l--row .l--offset4 {
    margin-left: 0;
    margin-right: 34.65346535%;
    *margin-left: 0;
    *margin-right: 34.52970297%
}

.lang_is_rtl .l--row .l--offset4:first-child {
    margin-left: 0;
    margin-right: 33.66336634%;
    *margin-left: 0;
    *margin-right: 33.53960396%
}

.lang_is_rtl .l--row .l--offset3 {
    margin-left: 0;
    margin-right: 26.23762376%;
    *margin-left: 0;
    *margin-right: 26.11386139%
}

.lang_is_rtl .l--row .l--offset3:first-child {
    margin-left: 0;
    margin-right: 25.24752475%;
    *margin-left: 0;
    *margin-right: 25.12376238%
}

.lang_is_rtl .l--row .l--offset2 {
    margin-left: 0;
    margin-right: 17.82178218%;
    *margin-left: 0;
    *margin-right: 17.6980198%
}

.lang_is_rtl .l--row .l--offset2:first-child {
    margin-left: 0;
    margin-right: 16.83168317%;
    *margin-left: 0;
    *margin-right: 16.70792079%
}

.lang_is_rtl .l--row .l--offset1 {
    margin-left: 0;
    margin-right: 9.40594059%;
    *margin-left: 0;
    *margin-right: 9.28217822%
}

.lang_is_rtl .l--row .l--offset1:first-child {
    margin-left: 0;
    margin-right: 8.41584158%;
    *margin-left: 0;
    *margin-right: 8.29207921%
}

.lang_is_rtl [class*="l--col"].l--pull-right,
.lang_is_rtl .l--row [class*="l--col"].l--pull-right {
    float: left
}

body {
    margin: 0;
    padding: 0;
    font-family: arial
}

.b--truncate {
    overflow: hidden;
    text-overflow: ellipsis
}

.b--label_from {
    color: #989898
}

.b--label_price {
    color: #0397ff
}

.b--small_font {
    font-size: 80%
}

.b--pull-right {
    float: right
}

.b--pull-left {
    float: left
}

.b--btn-blue {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    background-color: #0896ff;
    border: 2px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px #aaa;
    box-shadow: 0 0 3px #aaa;
    padding: 5px 10px;
    font: inherit
}

.b--btn-blue:hover {
    background-color: #003580
}

.b--blockanc {
    text-decoration: none;
    outline: 0;
    display: block;
    color: inherit
}

.b--btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
    color: #c9960c;
    border-radius: 3px;
    border: 1px solid #ffe295;
    border-color: #ffe295 #daa300 #daa300 #ffe295;
    background: #ffca56;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffca56), color-stop(100%, #ffbb39));
    background: -webkit-linear-gradient(top, #ffca56 0, #ffbb39 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffca56), to(#ffbb39));
    background: -webkit-linear-gradient(top, #ffca56 0, #ffbb39 100%);
    background: linear-gradient(to bottom, #ffca56 0, #ffbb39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffca56', endColorstr='#ffbb39', GradientType=0)
}

.b--btn:hover {
    color: #000
}

.b--btn.active {
    color: #EEE;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    background: #ffbb39;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbb39), color-stop(100%, #ffca56));
    background: -webkit-linear-gradient(top, #ffbb39 0, #ffca56 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffbb39), to(#ffca56));
    background: -webkit-linear-gradient(top, #ffbb39 0, #ffca56 100%);
    background: linear-gradient(to bottom, #ffbb39 0, #ffca56 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbb39', endColorstr='#ffca56', GradientType=0)
}

.b--btn-small {
    font-size: 90%;
    padding: 3px 5px
}

.b--grooved-box {
    display: inline-block;
    background-color: #FFF;
    border: 1px inset #EEE;
    border-radius: 3px;
    padding: 0 5px
}

.ui-menu-item u {
    font-weight: bold;
    text-decoration: none
}

.autocomplete_icons {
    width: 17px;
    height: 17px;
    display: inline-block;
    margin: 5px 5px 5px 0;
    vertical-align: middle;
    background: url(//cf.bstatic.com/static/affiliate_base/img/autocomplete/sprite/1e68c546ccd4c8f6af18a473aa7e1210acff5f68.png) 0 0 no-repeat
}

.autocomplete_city {
    background-position: 0 -62px
}

.ui-menu-item a:hover .autocomplete_city {
    background-position: -20px -62px
}

.autocomplete_district {
    background-position: 0 0
}

.ui-menu-item a:hover .autocomplete_district {
    background-position: -20px 0
}

.autocomplete_airport {
    background-position: 0 -20px
}

.ui-menu-item a:hover .autocomplete_airport {
    background-position: -20px -20px
}

.autocomplete_landmark {
    background-position: 0 -42px
}

.ui-menu-item a:hover .autocomplete_landmark {
    background-position: -20px -42px
}

.lang_is_rtl {
    direction: rtl
}

.lang_is_rtl .b--pull-right {
    float: left
}

.lang_is_rtl .b--pull-left {
    float: right
}

.lang_is_rtl .b--btn {
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #ffca56), color-stop(100%, #ffbb39))
}

.lang_is_rtl .b--btn.active {
    border-left: 1px solid #DDD;
    border-right: 1px solid #999;
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #ffbb39), color-stop(100%, #ffca56))
}

.lang_is_rtl .autocomplete_icons {
    margin: 5px 0 5px 5px
}

.lang_is_rtl input[type="search"]::-webkit-search-cancel-button {
    position: absolute;
    left: 0;
    margin-top: 4px
}

.lang_is_rtl input[type="search"] {
    padding-left: 20px;
    position: relative
}