.datepicker__selectbox_checkin_label,
.datepicker__selectbox_checkout_label,
.datepicker_selectbox_inwrapper,
.datepicker_selectbox_outwrapper {
    display: block
}

.datepicker__icon {
    cursor: pointer
}

.b_popupInner {
    font-size: 90%
}

.datepicker__icon {
    font-size: 13px
}

.ui-menu-item a {
    font-size: 90%
}

.ui-menu-item a span {
    font-size: 90%
}

.searchbox__inp {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.b--grooved-box {
    padding: 5px 5px
}

.l--container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px
}

.datepicker__wrapper {
    white-space: normal
}

.datepicker__checkin {
    margin-bottom: 5px
}

.l--row {
    margin-bottom: 5px
}

.b--btn-blue {
    background-color: #0071c2;
    color: #fff;
    border-color: #0071c2
}

.b--btn-blue:hover {
    background-color: #003580;
    border-color: #003580
}

.l--blockelem {
    display: block;
    overflow: hidden
}

.l--flexelem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.l--flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}