.brandlogo__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.citylist__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #edf1f6;
    color: #17498e;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.citylist__list li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.citylist__item {
    text-decoration: none;
    color: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 5px
}

.citylist__item:hover {
    background-color: #fff
}

.citylist__item_pricetag {
    font-size: 90%
}

.citylist__item_flag {
    vertical-align: top;
    border: 0
}

.citylist__item_name_wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 85%;
    font-weight: normal
}

.b_msie_10 .citylist__item_name_wrapper {
    display: inline-block
}

.b_msie_10 .citylist__item_price_wrapper {
    padding-right: 10px
}

.citytile_arrow {
    visibility: hidden
}

.b--hover .citytile_arrow {
    visibility: visible
}

.citytile_thumbnail-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.citytile_prop-wrapper {
    margin: 5px 0 0 5px;
    color: white;
    float: left;
    max-width: 80%;
    padding: 5px;
    text-shadow: 1px 1px 1px #000;
    background: #000;
    background: rgba(0, 0, 0, 0.6)
}

.citytile_prop-title {
    font-weight: bold;
    font-size: 110%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.citytile_prop-name {
    margin-right: 3px
}

.citytile_prop-flag {
    border: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.citytile_prop-count {
    font-weight: normal;
    font-size: 85%
}

.citylist__item_flag {
    border: 0
}

.lang_is_rtl .citytile_prop-wrapper {
    margin: 5px 5px 0 0;
    float: right
}

.lang_is_rtl .citytile_prop-name {
    margin-right: 0;
    margin-left: 3px
}

.cta-btn {
    background-color: #0896ff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 3px #AAA;
    box-shadow: 0 0 3px #AAA
}

.cta-btn:hover {
    background-color: #003580
}

#b_calendarPopup {
    display: none;
    z-index: 99999
}

.b_popupInner {
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px #555;
    box-shadow: 2px 2px 5px #555;
    font-size: 100%;
    padding: 5px
}

.b_popupInner.cal--medium {
    padding: 3px;
    font-size: 90%
}

.b_popupInner.cal--small {
    padding: 1px;
    font-size: 70%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #999
}

.b_caltable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

.b_calDayNames th {
    padding: 4px;
    font-size: 80%
}

.cal--small .b_calDayNames th {
    padding: 2px
}

.b_caltable td {
    text-align: center
}

.b_calPast {
    text-decoration: line-through;
    color: #779bca
}

.b_caltable a {
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    color: #0896ff;
    font-size: 90%;
    font-weight: bold
}

.cal--small .b_caltable a {
    padding: 2px;
    text-decoration: none;
    color: #0896ff;
    font-size: 80%;
    font-weight: normal
}

.b_calWeekend a {
    color: #003580
}

.b_caltable a:hover,
.b_calSelected a {
    background: #003580;
    color: #fff;
    border-radius: 3px
}

.b_calPast a {
    color: #ccc
}

.b_calHeader select {
    color: #003580
}

.b_popup {
    width: auto;
    min-width: 300px
}

.js--calendar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: transparent
}

.cal_show {
    top: 0;
    left: 0;
    position: absolute;
    display: block
}

.cal_hide {
    display: none
}

.datepicker__icon {
    vertical-align: -10%
}

.datepicker__wrapper {
    color: #0896ff;
    cursor: pointer;
    white-space: nowrap
}

.datepicker__checkin:hover,
.datepicker__checkout:hover {
    color: #17498e
}

.datepicker__checkin,
.datepicker__checkout {
    padding: 3px;
    display: inline-block
}

.datepicker__sep {
    border-right: 1px solid silver;
    margin-right: 3px
}

.datepicker__btn-wrapper {
    display: inline-block
}

.datepicker__list {
    min-width: 150px
}

.datepicker__lbl_select_date {
    text-decoration: underline
}

.lang_is_rtl .js--calendar-overlay {
    right: 0;
    left: 0
}

.lang_is_rtl .cal_show {
    left: auto;
    right: 0
}

.lang_is_rtl .datepicker__sep {
    border-right: 0;
    border-left: silver 1px solid;
    margin-right: 0;
    margin-left: 3px
}

.d-deal {
    line-height: 1;
    position: relative;
    height: 24px;
    display: inline-block
}

.d-deal-b {
    font-size: 24px;
    line-height: 26px;
    display: inline-block;
    height: 24px;
    white-space: nowrap;
    border-radius: 4px;
    background-color: #ed6d21
}

.d-deal--main,
.d-deal--ext {
    position: relative;
    color: white;
    font-size: .5em;
    display: inline-block;
    float: left;
    height: 24px;
    padding: 0 5px;
    text-align: center;
    margin: 0
}

.d-deal--main {
    padding: 0 8px 0 7px;
    border-radius: 4px 0 0 4px;
    background-color: #f08647
}

.d-deal--ext i {
    margin-left: 1px;
    font-size: 1.35em;
    line-height: 24px
}

.d-deal--ext:before {
    font-family: 'flexi';
    font-size: 32px;
    position: absolute;
    top: -1px;
    left: -2px;
    display: block;
    content: '\b254';
    opacity: .75;
    color: white
}

.d-deal--main__text {
    text-transform: lowercase;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px
}

.d-deal--card {
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 5px
}

.discoverbtn__btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0 2px
}

.b__btn:hover {
    background-color: #17498e;
    color: #fff
}

.dd-container {
    display: none;
    position: absolute;
    left: 0
}

.dd-overlay {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent
}

.dd-container {
    background: #ffeec0;
    border: 1px solid #dba505;
    border-radius: 5px;
    color: #333331
}

.dd-arrow {
    bottom: 100%;
    left: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.dd-arrow-after {
    border-color: rgba(126, 213, 140, 0);
    border-bottom-color: #ffeec0;
    border-width: 10px;
    margin-left: -10px
}

.dd-arrow-before {
    border-color: rgba(245, 76, 166, 0);
    border-bottom-color: #dba505;
    border-width: 12px;
    margin-left: -12px
}

.fromprice_fromtag,
.fromprice_pricetag {
    text-align: right
}

.fromprice_fromtag {
    font-size: 70%;
    color: #989898;
    margin-bottom: -2px
}

.fromprice_pricetag {
    font-size: 140%;
    color: #0397ff
}

.fromprice_pricetag:hover {
    color: #003580
}

.lang_is_rtl .fromprice_fromtag,
.lang_is_rtl .fromprice_pricetag {
    text-align: left
}

.guestpicker_btn {
    display: inline-block
}

.guestpicker__popup {
    font-size: 80%
}

.guestpicker__list {
    margin: 0;
    padding: 0;
    list-style: none
}

.guestpicker__list li {
    padding: 5px;
    white-space: nowrap;
    cursor: pointer
}

.guestpicker__list li:hover {
    background-color: #FFF
}

.guestpicker__list li.selected {
    background-color: #dba505;
    color: #FFF
}

.guestpicker__list li:first-child {
    border: 0 solid white;
    border-radius: 5px 5px 0 0
}

.guestpicker__list li:last-child {
    border: 0 solid white;
    border-radius: 0 0 5px 5px
}

.guestpicker__invi {
    visibility: hidden
}

.bicon-occupancy {
    font-size: 60%
}

.lang_is_rtl .guestpicker__list li:first-child {
    border-radius: 5px 0 0 5px
}

.lang_is_rtl .guestpicker__list li:last-child {
    border-radius: 0 5px 5px 0
}

.headerbar__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 4px;
    border-radius: 3px;
    background: #ffbb39;
    background: -webkit-gradient(linear, 100% 0, 100% 100%, color-stop(0.0, #ffca56), to(#ffbb39));
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffca56), to(#ffbb39));
    background: linear-gradient(to bottom, #ffca56 0, #ffbb39 100%);
    background: -webkit-linear-gradient(top, #ffca56 0, #ffbb39 100%)
}

.headerbar__spacer {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.headerbar__inputbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.headerbar__inputbar_elem {
    margin-right: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 90%
}

.searchbox__wrapper {
    color: #333
}

.searchbox__inp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font: inherit;
    -webkit-appearance: textfield
}

.searchbox__searchbtn {
    font: inherit;
    border: 0;
    background: inherit;
    color: #999;
    cursor: pointer
}

.is_rtl {
    direction: rtl;
    text-align: right
}

.ui-menu {
    background: #fff;
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto
}

.ui-menu-item a {
    display: block;
    cursor: pointer;
    color: #003580;
    padding: .4em;
    font-size: .8em
}

.ui-menu-item a span {
    color: #888;
    font-size: .8em
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: 0
}

.ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal
}

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px
}

.ui-menu-icons {
    position: relative
}

.ui-menu-icons .ui-menu-item a {
    position: relative;
    padding-left: 2em
}

.ui-menu .ui-icon {
    position: absolute;
    top: .2em;
    left: .2em
}

.ui-menu .ui-menu-icon {
    position: static;
    float: right
}

.ui-widget-content {
    border: 1px solid #ddd;
    color: #333
}

.ui-widget-content a {
    color: #333
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #ccc;
    background: #f6f6f6 50% 50% repeat-x;
    font-weight: bold;
    color: #1c94c4
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #1c94c4;
    text-decoration: none
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #e6edf6 50% 50% repeat-x;
    font-weight: bold
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #c77405;
    text-decoration: none
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #fbd850;
    background: #fff 50% 50% repeat-x;
    font-weight: bold;
    color: #eb8f00
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #eb8f00;
    text-decoration: none
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #fed22f;
    background: #ffe45c 50% top repeat-x;
    color: #363636
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #363636
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #b81900 50% 50% repeat;
    color: #fff
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #fff
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #fff
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35)
}

.lang_is_rtl .is_rtl {
    direction: ltr;
    text-align: left
}

.lang_is_rtl .ui-widget-overlay {
    left: auto;
    right: 0
}

.lang_is_rtl .ui-autocomplete {
    left: auto;
    right: 0
}

.lang_is_rtl .ui-menu-icons .ui-menu-item a {
    padding-left: 0;
    padding-right: 2em
}

.lang_is_rtl .ui-menu .ui-icon {
    left: auto;
    right: .2em
}

.lang_is_rtl .ui-menu .ui-menu-icon {
    float: left
}

.searchheader__heading {
    font-size: 120%
}

.searchheader__sub_heading {
    font-size: 90%
}

.stars-wrapper {
    color: #feba02;
    white-space: nowrap;
    overflow: hidden
}

.stars--medium {
    width: auto;
    font-size: 11px;
    letter-spacing: -2px
}

.other-shape--medium {
    width: auto;
    font-size: 9px;
    letter-spacing: 1px
}

span[class*='stars--medium__'] {
    overflow: hidden;
    display: block
}

.stars--medium__1stars {
    width: 12px
}

.stars--medium__2stars {
    width: 25px
}

.stars--medium__3stars {
    width: 37px
}

.stars--medium__4stars {
    width: 49px
}

.stars--medium__5stars {
    width: 62px
}

.stars-wrapper {
    color: #feba02;
    white-space: nowrap;
    overflow: hidden
}

.stars--small {
    width: 51px;
    font-size: 9px;
    letter-spacing: -2px
}

.other-shape--small {
    width: 51px;
    font-size: 7px;
    letter-spacing: 1px
}

span[class*='stars--small__'] {
    overflow: hidden;
    display: block
}

.stars--small__1stars {
    width: 10px
}

.stars--small__2stars {
    width: 20px
}

.stars--small__3stars {
    width: 30px
}

.stars--small__4stars {
    width: 40px
}

.stars--small__5stars {
    width: 51px
}

.usp__container {
    list-style: none;
    margin: 0;
    padding: 0
}

.usp__container li {
    margin-bottom: 3px
}